# Assignment 3 - Pandas Data Analysis Practice

*This assignment is a part of the course ["Data Analysis with Python: Zero to Pandas"](https://jovian.ai/learn/data-analysis-with-python-zero-to-pandas)*

In this assignment, you'll get to practice some of the concepts and skills covered in this tutorial: https://jovian.ai/aakashns/python-pandas-data-analysis

As you go through this notebook, you will find a **???** in certain places. To complete this assignment, you must replace all the **???** with appropriate values, expressions or statements to ensure that the notebook runs properly end-to-end. 

Some things to keep in mind:

* Make sure to run all the code cells, otherwise you may get errors like `NameError` for undefined variables.
* Do not change variable names, delete cells or disturb other existing code. It may cause problems during evaluation.
* In some cases, you may need to add some code cells or new statements before or after the line of code containing the **???**. 
* Since you'll be using a temporary online service for code execution, save your work by running `jovian.commit` at regular intervals.
* Questions marked **(Optional)** will not be considered for evaluation, and can be skipped. They are for your learning.

You can make submissions on this page: https://jovian.ai/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

If you are stuck, you can ask for help on the community forum: https://jovian.ai/forum/t/assignment-3-pandas-practice/11225/3. You can get help with errors or ask for hints, describe your approach in simple words, link to documentation, but **please don't ask for or share the full working answer code** on the forum.


## How to run the code and save your work

The recommended way to run this notebook is to click the "Run" button at the top of this page, and select "Run on Binder". This will run the notebook on [mybinder.org](https://mybinder.org), a free online service for running Jupyter notebooks. 

Before starting the assignment, let's save a snapshot of the assignment to your Jovian.ai profile, so that you can access it later, and continue your work.

In [1]:
import jovian

In [2]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "jadraque94/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/jadraque94/pandas-practice-assignment

'https://jovian.ai/jadraque94/pandas-practice-assignment'

In [3]:
# Run the next line to install Pandas
!pip install pandas --upgrade

Requirement already satisfied: pandas in c:\users\pc du chadiboo\anaconda3\lib\site-packages (1.4.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc du chadiboo\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\pc du chadiboo\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\pc du chadiboo\anaconda3\lib\site-packages (from pandas) (1.22.1)
Requirement already satisfied: six>=1.5 in c:\users\pc du chadiboo\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [4]:
import pandas as pd

In this assignment, we're going to analyze an operate on data from a CSV file. Let's begin by downloading the CSV file.

In [5]:
from urllib.request import urlretrieve

urlretrieve('https://gist.githubusercontent.com/aakashns/28b2e504b3350afd9bdb157893f9725c/raw/994b65665757f4f8887db1c85986a897abb23d84/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x20dbd370fd0>)

Let's load the data from the CSV file into a Pandas data frame.

In [6]:
countries_df = pd.read_csv('countries.csv')

In [7]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775

**Q1: How many countries does the dataframe contain?**

Hint: Use the `.shape` method.

In [8]:
num_countries = countries_df['location'].shape[0]
print(num_countries)

210

In [9]:
print('There are {} countries in the dataset'.format(num_countries))

There are 210 countries in the dataset

In [10]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "jadraque94/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/jadraque94/pandas-practice-assignment

'https://jovian.ai/jadraque94/pandas-practice-assignment'

**Q2: Retrieve a list of continents from the dataframe?**

*Hint: Use the `.unique` method of a series.*

In [11]:
continents = countries_df['continent'].unique()

In [12]:
continents

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [13]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "jadraque94/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/jadraque94/pandas-practice-assignment

'https://jovian.ai/jadraque94/pandas-practice-assignment'

**Q3: What is the total population of all the countries listed in this dataset?**

In [14]:
total_population = countries_df['population'].sum()

In [15]:
print('The total population is {}.'.format(int(total_population)))

The total population is 7757980095.

In [16]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "jadraque94/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/jadraque94/pandas-practice-assignment

'https://jovian.ai/jadraque94/pandas-practice-assignment'

**Q: (Optional) What is the overall life expectancy across in the world?**

*Hint: You'll need to take a weighted average of life expectancy using populations as weights.*

In [17]:
a=countries_df['life_expectancy'].mean()
print(a)

73.52985507246376

In [18]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "jadraque94/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/jadraque94/pandas-practice-assignment

'https://jovian.ai/jadraque94/pandas-practice-assignment'

**Q4: Create a dataframe containing 10 countries with the highest population.**

*Hint: Chain the `sort_values` and `head` methods.*

In [22]:
most_populous_df = countries_df['population'].sort_values()
most_populous_df.tail(10)

125    1.289328e+08
157    1.459345e+08
15     1.646894e+08
141    2.061396e+08
27     2.125594e+08
145    2.208923e+08
91     2.735236e+08
199    3.310026e+08
90     1.380004e+09
41     1.439324e+09
Name: population, dtype: float64

In [35]:
most_populous_df=countries_df[countries_df.population >1.288e+08]
most_populous_df.sort_values('population', ascending=False)

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
41,China,Asia,1.439324e+09,76.91,4.34,15308.712
90,India,Asia,1.380004e+09,69.66,0.53,6426.674
199,United States,North America,3.310026e+08,78.86,2.77,54225.446
91,Indonesia,Asia,2.735236e+08,71.72,1.04,11188.744
145,Pakistan,Asia,2.208923e+08,67.27,0.60,5034.708
27,Brazil,South America,2.125594e+08,75.88,2.20,14103.452
141,Nigeria,Africa,2.061396e+08,54.69,NaN,5338.454
15,Bangladesh,Asia,1.646894e+08,72.59,0.80,3523.984
157,Russia,Europe,1.459345e+08,72.58,8.05,24765.954
125,Mexico,North America,1.289328e+08,75.05,1.38,17336.469

In [36]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "jadraque94/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/jadraque94/pandas-practice-assignment

'https://jovian.ai/jadraque94/pandas-practice-assignment'

**Q5: Add a new column in `countries_df` to record the overall GDP per country (product of population & per capita GDP).**

In [39]:
countries_df['gdp'] = countries_df.population* countries_df.gdp_per_capita

In [40]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11
...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10

In [41]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "jadraque94/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/jadraque94/pandas-practice-assignment

'https://jovian.ai/jadraque94/pandas-practice-assignment'

**Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.**

In [45]:
great_df=countries_df[countries_df.population>1e+8]
great_df.sort_values('gdp').head(10)

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
63,Ethiopia,Africa,114963583.0,66.60,0.30,1729.927,1.988786e+11
15,Bangladesh,Asia,164689383.0,72.59,0.80,3523.984,5.803628e+11
151,Philippines,Asia,109581085.0,71.23,1.00,7599.188,8.327273e+11
58,Egypt,Africa,102334403.0,71.99,1.60,10550.206,1.079649e+12
141,Nigeria,Africa,206139587.0,54.69,NaN,5338.454,1.100467e+12
145,Pakistan,Asia,220892331.0,67.27,0.60,5034.708,1.112128e+12
125,Mexico,North America,128932753.0,75.05,1.38,17336.469,2.235239e+12
27,Brazil,South America,212559409.0,75.88,2.20,14103.452,2.997821e+12
91,Indonesia,Asia,273523621.0,71.72,1.04,11188.744,3.060386e+12
157,Russia,Europe,145934460.0,72.58,8.05,24765.954,3.614206e+12

In [46]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "jadraque94/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/jadraque94/pandas-practice-assignment

'https://jovian.ai/jadraque94/pandas-practice-assignment'

**Q6: Create a data frame that counts the number countries in each continent?**

*Hint: Use `groupby`, select the `location` column and aggregate using `count`.*

In [50]:
country_counts_df = countries_df.groupby('continent').count()

In [51]:
country_counts_df=

,location,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
continent,,,,,,
Africa,55,55,55,40,53,53
Asia,47,47,47,43,45,45
Europe,51,51,48,43,42,42
North America,36,36,36,23,27,27
Oceania,8,8,8,3,4,4
South America,13,13,13,12,12,12

In [52]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "jadraque94/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/jadraque94/pandas-practice-assignment

'https://jovian.ai/jadraque94/pandas-practice-assignment'

**Q7: Create a data frame showing the total population of each continent.**

*Hint: Use `groupby`, select the population column and aggregate using `sum`.*

In [55]:
continent_populations_df = countries_df.groupby('continent').sum('population')

In [63]:
continent_populations_df.iloc[:,:1]

                 population
continent
Africa         1.339424e+09
Asia           4.607388e+09
Europe         7.485062e+08
North America  5.912425e+08
Oceania        4.095832e+07
South America  4.304611e+08

In [64]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "jadraque94/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/jadraque94/pandas-practice-assignment

'https://jovian.ai/jadraque94/pandas-practice-assignment'

Let's download another CSV file containing overall Covid-19 stats for various countires, and read the data into another Pandas data frame.

In [65]:
urlretrieve('https://gist.githubusercontent.com/aakashns/b2a968a6cfd9fbbb0ff3d6bd0f26262b/raw/b115ed1dfa17f10fc88bf966236cd4d9032f1df8/covid-countries-data.csv', 
            'covid-countries-data.csv')

('covid-countries-data.csv', <http.client.HTTPMessage at 0x20dbd3f76d0>)

In [69]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [70]:
covid_data_df

           location  total_cases  total_deaths  total_tests
0       Afghanistan      38243.0        1409.0          NaN
1           Albania       9728.0         296.0          NaN
2           Algeria      45158.0        1525.0          NaN
3           Andorra       1199.0          53.0          NaN
4            Angola       2729.0         109.0          NaN
..              ...          ...           ...          ...
207  Western Sahara        766.0           1.0          NaN
208           World   26059065.0      863535.0          NaN
209           Yemen       1976.0         571.0          NaN
210          Zambia      12415.0         292.0          NaN
211        Zimbabwe       6638.0         206.0      97272.0

[212 rows x 4 columns]

**Q8: Count the number of countries for which the `total_tests` data is missing.**

*Hint: Use the `.isna` method.*

In [108]:
total_tests_missing = covid_data_df[['total_tests']].isna()
total_tests_missing=total_tests_missing[total_tests_missing.total_tests==True].count()
total_tests_missing

total_tests    122
dtype: int64

In [109]:
print("The data for total tests is missing for {} countries.".format(int(total_tests_missing)))

The data for total tests is missing for 122 countries.

In [110]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "jadraque94/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/jadraque94/pandas-practice-assignment

'https://jovian.ai/jadraque94/pandas-practice-assignment'

Let's merge the two data frames, and compute some more metrics.

**Q9: Merge `countries_df` with `covid_data_df` on the `location` column.**

*Hint: Use the `.merge` method on `countries_df`.

In [111]:
combined_df =countries_df.merge(covid_data_df, on='location')

In [112]:
combined_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10,38243.0,1409.0,NaN
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10,9728.0,296.0,NaN
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11,45158.0,1525.0,NaN
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN,1199.0,53.0,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11,2729.0,109.0,NaN
...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11,1046.0,35.0,261004.0
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN,766.0,1.0,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10,1976.0,571.0,NaN
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10,12415.0,292.0,NaN
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10,6638.0,206.0,97272.0

In [113]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "jadraque94/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/jadraque94/pandas-practice-assignment

'https://jovian.ai/jadraque94/pandas-practice-assignment'

**Q10: Add columns `tests_per_million`, `cases_per_million` and `deaths_per_million` into `combined_df`.**

In [116]:
combined_df['tests_per_million'] = combined_df['total_tests'] * 1e6 / combined_df['population']

In [117]:
combined_df['cases_per_million'] = combined_df['total_cases']* 1e6 / combined_df['population']

In [118]:
combined_df['deaths_per_million'] = combined_df['total_deaths']* 1e6 / combined_df['population']

In [123]:
combined_df.loc[40:70]

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests,deaths_per_million,tests_per_million,cases_per_million
40,Chile,South America,1.911621e+07,80.18,2.11,22767.037,4.352194e+11,414739.0,11344.0,2458762.0,593.423100,128621.841287,21695.671982
41,China,Asia,1.439324e+09,76.91,4.34,15308.712,2.203419e+13,89953.0,4727.0,NaN,3.284181,NaN,62.496710
42,Colombia,South America,5.088288e+07,77.29,1.71,13254.949,6.744500e+11,633339.0,20348.0,2647702.0,399.898716,52035.218758,12446.994946
43,Comoros,Africa,8.695950e+05,64.32,2.20,1413.890,1.229512e+09,427.0,7.0,NaN,8.049724,NaN,491.033182
44,Congo,Africa,5.518092e+06,64.57,NaN,4881.406,2.693605e+10,4628.0,102.0,NaN,18.484650,NaN,838.695694
45,Costa Rica,North America,5.094114e+06,80.28,1.13,15524.995,7.908609e+10,43305.0,453.0,131623.0,88.926161,25838.251755,8500.987610
46,Cote d'Ivoire,Africa,2.637828e+07,57.78,NaN,3601.006,9.498833e+10,18161.0,117.0,127804.0,4.435468,4845.047677,688.483231
47,Croatia,Europe,4.105268e+06,78.49,5.54,22669.797,9.306559e+10,10725.0,191.0,175346.0,46.525586,42712.436801,2612.496919
48,Cuba,North America,1.132662e+07,78.80,5.20,NaN,NaN,4126.0,98.0,403181.0,8.652187,35595.892012,364.274731
49,Curacao,North America,1.641000e+05,78.88,NaN,NaN,NaN,68.0,1.0,NaN,6.093845,NaN,414.381475
50,Cyprus,Europe,8.758990e+05,80.98,3.40,32415.132,2.839238e+10,1495.0,21.0,NaN,23.975367,NaN,1706.817795
51,Czech Republic,Europe,1.070898e+07,79.38,6.63,32605.906,3.491761e+11,25773.0,425.0,910872.0,39.686312,85056.824262,2406.671334
52,Democratic Republic of Congo,Africa,8.956140e+07,60.68,NaN,808.133,7.237753e+10,10113.0,258.0,NaN,2.880705,NaN,112.916944
53,Denmark,Europe,5.792203e+06,80.90,2.50,46682.515,2.703946e+11,17195.0,626.0,2447911.0,108.076323,422621.755488,2968.645954
54,Djibouti,Africa,9.880020e+05,67.11,1.40,2705.406,2.672947e+09,5387.0,60.0,NaN,60.728622,NaN,5452.418113
55,Dominica,North America,7.199100e+04,75.00,3.80,9673.367,6.963954e+08,20.0,0.0,NaN,0.000000,NaN,277.812504
56,Dominican Republic,North America,1.084790e+07,74.08,1.60,14600.861,1.583887e+11,95627.0,1765.0,NaN,162.704242,NaN,8815.251315
57,Ecuador,South America,1.764306e+07,77.01,1.50,10581.936,1.866977e+11,115457.0,6619.0,258266.0,375.161678,14638.390393,6544.046214
58,Egypt,Africa,1.023344e+08,71.99,1.60,10550.206,1.079649e+12,99280.0,5461.0,NaN,53.364263,NaN,970.152726
59,El Salvador,North America,6.486201e+06,73.32,1.30,7292.458,4.730035e+10,25904.0,739.0,310444.0,113.934181,47862.223203,3993.709106
60,Equatorial Guinea,Africa,1.402985e+06,58.74,2.10,22604.873,3.171430e+10,4965.0,83.0,NaN,59.159578,NaN,3538.883167
61,Eritrea,Africa,3.546427e+06,66.32,0.70,1510.459,5.356733e+09,319.0,0.0,NaN,0.000000,NaN,89.949687
62,Estonia,Europe,1.326539e+06,78.74,4.69,29481.252,3.910803e+10,2415.0,64.0,151940.0,48.245849,114538.660379,1820.526950
63,Ethiopia,Africa,1.149636e+08,66.60,0.30,1729.927,1.988786e+11,54409.0,846.0,869430.0,7.358852,7562.655732,473.271610
64,Faeroe Islands,Europe,4.886500e+04,80.67,NaN,NaN,NaN,411.0,0.0,NaN,0.000000,NaN,8410.928067
65,Falkland Islands,South America,3.483000e+03,81.44,NaN,NaN,NaN,13.0,0.0,NaN,0.000000,NaN,3732.414585
66,Fiji,Oceania,8.964440e+05,67.44,2.30,8702.975,7.801730e+09,29.0,2.0,8408.0,2.231037,9379.280803,32.350041
67,Finland,Europe,5.540718e+06,81.91,3.28,40585.721,2.248740e+11,8161.0,336.0,688714.0,60.641960,124300.496795,1472.913799
68,France,Europe,6.527351e+07,82.66,5.98,38605.671,2.519928e+12,293024.0,30686.0,NaN,470.114125,NaN,4489.171657
69,French Polynesia,Oceania,2.809040e+05,77.66,NaN,NaN,NaN,596.0,0.0,NaN,0.000000,NaN,2121.721300
70,Gabon,Africa,2.225728e+06,66.47,6.30,16562.413,3.686343e+10,8538.0,53.0,NaN,23.812434,NaN,3836.048250

In [124]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "jadraque94/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/jadraque94/pandas-practice-assignment

'https://jovian.ai/jadraque94/pandas-practice-assignment'

**Q11: Create a dataframe with 10 countires that have highest number of tests per million people.**

In [128]:
highest_tests_df = combined_df.sort_values('tests_per_million', ascending=False)

In [129]:
highest_tests_df.head(10)

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests,deaths_per_million,tests_per_million,cases_per_million
197,United Arab Emirates,Asia,9890400.0,77.97,1.200,67293.483,6.655595e+11,71540.0,387.0,7177430.0,39.128852,725696.635121,7233.276713
14,Bahrain,Asia,1701583.0,77.29,2.000,43290.705,7.366273e+10,52440.0,190.0,1118837.0,111.660730,657527.137965,30818.361490
115,Luxembourg,Europe,625976.0,82.25,4.510,94277.965,5.901574e+10,7928.0,124.0,385820.0,198.090662,616349.508607,12665.022301
122,Malta,Europe,441539.0,82.53,4.485,36513.323,1.612206e+10,1931.0,13.0,188539.0,29.442473,427004.183096,4373.339614
53,Denmark,Europe,5792203.0,80.90,2.500,46682.515,2.703946e+11,17195.0,626.0,2447911.0,108.076323,422621.755488,2968.645954
96,Israel,Asia,8655541.0,82.97,2.990,33132.320,2.867782e+11,122539.0,969.0,2353984.0,111.951408,271962.665303,14157.289533
89,Iceland,Europe,341250.0,82.99,2.910,46482.958,1.586231e+10,2121.0,10.0,88829.0,29.304029,260304.761905,6215.384615
157,Russia,Europe,145934460.0,72.58,8.050,24765.954,3.614206e+12,1005000.0,17414.0,37176827.0,119.327539,254750.159763,6886.653091
199,United States,North America,331002647.0,78.86,2.770,54225.446,1.794877e+13,6114406.0,185744.0,83898416.0,561.155633,253467.507769,18472.377957
10,Australia,Oceania,25499881.0,83.44,3.840,44648.710,1.138537e+12,25923.0,663.0,6255797.0,26.000121,245326.517406,1016.592979

In [130]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "jadraque94/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/jadraque94/pandas-practice-assignment

'https://jovian.ai/jadraque94/pandas-practice-assignment'

**Q12: Create a dataframe with 10 countires that have highest number of positive cases per million people.**

In [132]:
highest_cases_df = combined_df.sort_values('cases_per_million', ascending=False)

In [162]:
highest_cases_df.head(10)
highest_cases_df.head(10).reset_index(inplace=True, drop=False)

In [135]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "jadraque94/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/jadraque94/pandas-practice-assignment

'https://jovian.ai/jadraque94/pandas-practice-assignment'

**Q13: Create a dataframe with 10 countires that have highest number of deaths cases per million people?**

In [ ]:
highest_deaths_df =

In [ ]:
highest_deaths_df

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**(Optional) Q: Count number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million".**

In [172]:
c=highest_cases_df.head(10).iloc[:,:2].reset_index(inplace=True, drop=False)
h=highest_tests_df.head(10).iloc[:,:2].reset_index(inplace=True, drop=False)
c.compare(h)

AttributeError: 'NoneType' object has no attribute 'compare'

In [188]:
c=highest_cases_df.head(10)
c.reset_index()
c=c.iloc[:,:2]
print(c)

          location      continent
155          Qatar           Asia
14         Bahrain           Asia
147         Panama  North America
40           Chile  South America
162     San Marino         Europe
9            Aruba  North America
105         Kuwait           Asia
150           Peru  South America
27          Brazil  South America
199  United States  North America

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**(Optional) Q: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.**

In [ ]:
import jovian

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

## Submission 

Congratulations on making it this far! You've reached the end of this assignment, and you just completed your first real-world data analysis problem. It's time to record one final version of your notebook for submission.

Make a submission here by filling the submission form: https://jovian.ai/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

Also make sure to help others on the forum: https://jovian.ai/forum/t/assignment-3-pandas-practice/11225/2